body {
    background-color: #1c1f24;
    margin: 0;
    height: 100%;
    padding: 0;
    width: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    overflow-y: hidden;
    position: fixed;
}

@media (orientation: landscape) {
    body {
        position: relative; /* Отключаем фиксированное позиционирование */
        overflow-y: auto; /* Включаем вертикальный скроллинг */
        height: auto; /* Позволяем контенту расти по высоте */
    }
}
