/* text on wallet page: you can farm real money, bro */
.wallet-text {
    text-align: center;
    font-family: 'Creepster';
    font-size: clamp(10px, 2vh, 50px);
    color: #ffffff;
}

.wallet-text h1 {
    margin: clamp(20px, 10vh, 100px) 2vw 0vh 2vw;
}


/* for info */
.info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: clamp(1px, 3vw, 50px);
    margin-top: clamp(20px, 4vh, 100px);
}

.info-text {
    font-family: 'Creepster';
    font-size: clamp(17px, 3vh, 50px);
    color: #ffffff;
    margin-left: 2vw;
}

.info-button {
    width: auto;
    height: clamp(27px, 5vh, 100px);
    cursor: pointer;
}

.info-button img {
    margin-right: 2vw;
}

/* modal-window in info */
.modal-info {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-info-content {
    font-family: 'Creepster';
    font-size: 100%;
    background-color: #faff00;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 50px;
    width: 80%;
    max-width: 400px;
}

.close-info {
    color: #aaa;
    float: right;
    font-size: clamp(40px, 5vh, 100px);
    font-weight: bold;
}

.close-info:hover,
.close-info:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.language-buttons-info {
    display: flex;
    justify-content: flex-start;
    gap: clamp(3px, 1vw, 50px);
    margin-bottom: 10px;
}

.lang-button-info {
    background-color: #faff00;
    border: 2px solid #000000;
    border-radius: 50px;
    color: #000000;
    font-family: 'Creepster';
    font-size: clamp(15px, 2vh, 100px);
    font-weight: bold;
    padding: 1vh 3vw;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.lang-button-info:hover {
    background-color: rgb(191, 191, 0);
}


/* connect walllet */
.connect-wallet-button-wallet {
    display: flex;
    justify-content: center;
    align-items: center;
}

#connect-button-root-wallet {
    padding: 1vh;
    background-color: none;
    border: 2px solid #ffffff;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Creepster';
    font-size: 20px;
    text-align: center;
    margin: 6vh 2vw 1vh 2vw;
}


/* buttons on wallet page: withdraw this money, bro; history */
.withdraw-history-button,
.withdraw-money-button {
    padding: clamp(15px, 2vh, 100px);
    margin: 6vh 2vw 2vh 2vw;
    background-color: #faff00;
    color: #000000;
    font-family: 'Creepster';
    font-size: clamp(17px, 3vh, 100px);
    width: 96vw;
    border: 2px solid white;
    border-radius: 50px;
    cursor: pointer;
}

.withdraw-history-button {
    margin: 1vh 2vw clamp(40px, 10vh, 100px) 2vw
}
  
.withdraw-history-button:hover,
.withdraw-money-button:hover {
    background-color: rgb(191, 191, 0);
} 

@media (hover: hover) {
    withdraw-money-button:hover {
        background-color: rgb(191, 191, 0)
    }
}

@media (hover: none) {
    withdraw-money-button:active {
        background-color: rgb(191, 191, 0)
    }
}

/* modal on wallet page: withdraw this money, bro; history */
.withdraw-history-modal,
.withdraw-money-modal {
    font-family: 'Creepster';
    font-size: 100%;
    text-align: center;
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    overflow: auto;
    z-index: 1;
 }

.withdraw-history-modal-content,
.withdraw-money-modal-content {
    border: 2px solid white;
    border-radius: 50px;
    background-color: #faff00;
    margin: 10vh auto;
    padding: 20px;
    width: clamp(100px, 80%, 400px);
}

.withdraw-history-close,
.withdraw-money-close {
    color: #aaa;
    float: right;
    font-size: clamp(40px, 5vh, 100px);
    font-weight: bold;
    transition: color 0.3s;
}

.withdraw-history-close:hover,
.withdraw-history-close:focus,
.withdraw-money-close:hover,
.withdraw-money-close:focus {
    color: black;
    text-decoration: none;
}

#withdrawMoneyAmount {
    flex: 1;
    padding: clamp(5px, 1vh, 100px);
    font-family: 'Creepster', sans-serif;
    font-size: clamp(14px, 2vh, 100px);
    caret-color: #000000;
    border: 1px solid #000000;
    border-radius: 10px;
    margin-right: 3vw;
    outline: none;
    width: 40vw;
    box-sizing: border-box;
}

#withdrawMoneyAmount::placeholder {
    color: #888;
}

/* .center-btn {
    display: block;
    margin: 0 auto;
} */

.take-cash-button {
    padding: clamp(5px, 1vh, 100px);
    margin: 3vh 2vw clamp(1px, 1vh, 100px) 2vw;
    background-color: #faff00;
    color: #000000;
    font-family: 'Creepster';
    font-size: clamp(17px, 3vh, 100px);
    border: 2px solid rgb(1, 0, 0);
    border-radius: 50px;
    cursor: pointer;
}

.take-cash-button:hover {
    background-color: rgb(191, 191, 0);
} 

@media (hover: hover) {
    take-cash-button:hover {
        background-color: rgb(191, 191, 0)
    }
}

@media (hover: none) {
    take-cash-button:active {
        background-color: rgb(191, 191, 0)
    }
}


.notification-timer-withdraw {
    display:none; 
    position: fixed; 
    top: 10px; 
    left: 50%; 
    transform: translateX(-50%); 
    background-color: rgba(0, 0, 0, 1); 
    font-size: 2.5vh;
    font-family: 'Creepster', sans-serif;
    color: #faff00; 
    padding: 10px; 
    border-radius: 50px;
}

.withdraw-history-modal table {
    width: 100%;
    border-collapse: collapse;
}

.withdraw-history-modal th, .withdraw-history-modal td {
    padding: 8px;
    text-align: left;
}

.withdraw-history-modal tr {
    border-bottom: 1px solid #ddd;
}

.withdraw-history-modal tr:last-child {
    border-bottom: none;
}


/* notification for copy */
.copy-notification {
    display: none;
    position: absolute;
    text-align: center;
    top: 2vh;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 1);
    color: #faff00;
    padding: 8px 16px;
    border-radius: 50px;
    font-size: 2.5vh;
    font-family: 'Creepster', sans-serif;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: 1000;
}

.copy-notification:not(.hidden) {
    visibility: visible;
    opacity: 1;
}
  